.card {
    margin: 20px 20px 20px 0;
    width: 250px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid rgba(54, 54, 54, 0.103);
}
.card:hover {
    border: 2px solid rgba(54, 54, 54, 0.356);
    /* transition: 200ms ease; */
}

.contCardImg {
    width: 200px;
    margin: auto;
    padding: 10px;
}

.cardImg {
    width: 150px;
    height: 150px;
}

.cardTitle {
    font-size: 18px;
}

.cardText {
    font-size: 18px;
}

.linkItemCard {
    text-decoration: none;
    color: #000;
}
.linkItemCard:hover {
    color: #000;
}