.footer {
    background-color: #252525 !important;
}

.menu-container {
    background-color: #313131;
}

.contMenuLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.menuLink {
    color: #fff !important;
    text-decoration: none;
}

.redes-sociales a {
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    margin-right: 0.625em;
    padding: 0.625em 1.25em;
    border-radius: 3px;
    font-size: 0.9375em;
}

.redes-sociales {
    width: 25%;
    padding-right: 15.625em;
}

.contac {
    width: 12.5em;
    margin-bottom: 0.625em;
    font-size: 1.25em;
}

.contenedor-redes {
    display: flex;
}

.twitter:hover {
    background-color: #1877f2;
}

.github:hover {
    background-color: #333;
}

.instagram:hover {
    background-color: #e1306c;

}

.whatsapp:hover {
    background-color: #25d366;
}