/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

.active {
    color: #000000 !important;
    font-weight: bold;
}

.linkCategory {
    font-size: 17px;
    font-weight: bold;
    margin: 0 20px;
    text-decoration: none;
    /* color: #464646; */
    color: #474747f6;
}
.linkCategory:hover {
    color: #7c7c7cf6;
    /* color: rgb(0, 0, 0); */
}